@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,300&display=swap');

body {
    font-family: 'Roboto',sans-serif;
}

.form-submit {
    background-color: white;
    color: black;
}

.form-submit:hover {
    background-color: white;
    color: black;
}

.card-title a {
    text-decoration: none;
}

.navbar-form{
    width: 100%;
    padding-top: 1%;
    /* padding-left: 5%; */
}

.search {
    width: 100%;
    font-size: 16px;
}

.navbar a {
    font-size: 20px;
}

.pagination {
    float: right;
}

.sidebar {
    color: white;
    width: 100%;
    height: 100vh;
    background-color: #0d6efd;
    text-align: center;
}

.sidebar h2 {
    padding-top: 2%;
}

.sidebar li {
    list-style-type: none;
}

.sidebar li a {
    color: white;
    text-decoration: none;
    font-size: 16px;
}