@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,300&display=swap');

body {
    font-family: 'Roboto',sans-serif;
}

.form-submit {
    background-color: white;
    color: black;
}

.form-submit:hover {
    background-color: white;
    color: black;
}

.card-title a {
    text-decoration: none;
}

.navbar-form{
    width: 100%;
    padding-top: 1%;
    /* padding-left: 5%; */
}

.search {
    width: 100%;
    font-size: 16px;
}

.navbar a {
    font-size: 20px;
}

.pagination {
    float: right;
}
